/_build/
/cover/
/deps/
/doc/
/.fetch
erl_crash.dump
*.ez

# Ignore package tarball (built via "mix hex.build").
fhir-*.tar
*.zip

# Temporary files, for example, from tests.
/tmp/

.direnv
.nix-hex
.nix-mix
